.field {
  width: 960px;
  height: 600px;
  border: 1px solid gray;
}

.block {
  height: 100px;
  width: 100px;
  position: relative;
  animation-iteration-count: infinite;
}

@keyframes upper {
  0%  {background-color:yellow; left:960px; top:0}
  90% {background-color:red; left:-200px; top:0}
}

@keyframes medium {
  0%  {background-color:yellow; left:960px; top:100px}
  90% {background-color:red; left:-200px; top:100px}
}

@keyframes lower {
  0%  {background-color:yellow; left:960px; top:200px}
  90% {background-color:red; left:-200px; top:200px}
}

@keyframes bottom {
  0%  {background-color:yellow; left:960px; top:400px}
  90% {background-color:red; left:-200px; top:400px}
}




