@import "_demo";
@import "blocks";

.container {
  height: 700px;
  width: 960px;
}
.blockContainer {
  position: relative;
  width: 10%;
  height: 100%;
  background-color: aqua;
  border: 1px solid black;
  box-sizing: border-box;
}

.innerBlock {
  position: absolute;
  box-sizing: border-box;

  background-color: #fff;
  width: 100%;
  border: 1px solid black;
}

body {
    font-family: "FlappyBirdy", sans-serif;
}
.container {
    background: url('../images/back.png');
    width: 960px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img {
    width: 10%;
    position: absolute;
    top: 50px;
}
.title {
    font-size: 148px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    letter-spacing: 5px;
    //color: gold;
}
.transition {
    text-decoration: none;
    color: inherit;
}
.button {
    margin-top: 10px;
    letter-spacing: 5px;
    font-size: 60px;
    background: #c9f;
    border: 5px solid #b366ff;
    outline: 0;
    padding: 5px 10px;
    cursor: pointer;
}

